$color-bg: #f8f9fa;
$color-card-clima: #e3f2fd;
$color-border: #90caf9;
$color-white: #ffffff;
$color-hover: #cfe2ff;
$color-primary: #3b6ef5;
$color-primary-dark: #2f5ad1;


$radius-sm: 10px;
$radius-md: 12px;

$weather-detail-image-max: 350px;
$forecast-image-height: 180px;

$font-footer: 14px;

$transition-fast: 0.2s ease;
$transition-normal: 0.3s ease;

$spacing-md: 16px;
$font-title: 24px;
$shadow-card: 0 4px 10px rgba(0, 0, 0, 0.1);

