@use "../abstracts/variables" as *;

.weather-app__nav {
  background: linear-gradient(90deg, $color-primary, $color-primary-dark);
  padding: 0.5rem 0;
}

.weather-app__brand {
  color: $color-white;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  
}

.weather-app__link {
  color: $color-white;
  transition: $transition-fast;
  
  &:hover {
    color: $color-hover;
  }
  &.active {
   border-bottom: 2px solid $color-white;
   font-weight: bold;
  }
}
